html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
}
.navbar-brand {
    width: 15%;
    padding-left: 5px;
    margin-left: 0;
}
.navbar-brand img {
    width: 65%;
}
.navbar-toggler-icon {
    border: none;
}
.collapse {
    width:35%;
    margin: 0;
}
.right {
    display: flex;
    width: 45%;
    margin: 0;
}
select {
    width: 18px;
    border: none;
}
    

form {
    width: 40%;
    text-align: right;
    margin-left: 0;
    padding-left: 200px;
}
form img {
    width: 50px;
    height: 40px;

}
form, i {
    color: white;
    margin: 4px 8px;
}
form, a {
    text-decoration: none;
    color: white;
    margin: 4px 8px;
}
.form-select {
    width: 30%;
    border: 1px solid white;
    background-color: #212529;
    border-radius: 0;
}
.avatar {
    width: 100px;
}
.btn5 {
    font-size: 0.7rem;
    background-color: #454546;
    border: none;
}
.par5 {
    font-size: 0.8rem;
}
.btn6 {
    background-color: #212529;
}
#myCheckbox, #myCheckbox1 {
    width: 30px;
    border: 1px solid gray;
    background-color: #212529;
}
#myCheckbox, label {
    font-size: 0.8rem;
} 